<div class="app">
  <header >
    <div class="header">
      <p>SeamfixWeather</p>
    </div>
  </header>
  <div class="search relative">
    <img src="../assets/search.svg" alt="search-icon" class="absolute search-icon"/>
    <input
      [formControl]="searchControl"
      placeholder='Enter Location'
      type="text" 
    />
    <img src="../assets/x.svg" alt="close-icon" class="absolute close-icon" (click)="reset()"/>
  </div>
  <section>
    <div>
      <app-weather-info 
        [weatherData]="weatherData" 
        [loadingData]="appService.getLoadingData()"
        [errorMessage]="appService.getErrorData()"
      ></app-weather-info>
    </div>
  </section>
</div>